function TestSquare.new 0
   push constant 4
   call Memory.alloc 1
   pop pointer 0
   push argument 0
   pop this 0
   push argument 1
   pop this 1
   push argument 2
   pop this 2
   push pointer 0
   return
function TestSquare.dispose 1
   push argument 0
   pop pointer 0
   push pointer 0
   call Memory.deAlloc 1
   pop temp 0
   push constant 0
   return
function TestSquare.draw 1
   push argument 0
   pop pointer 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   push constant 0
   return
function TestSquare.erase 1
   push argument 0
   pop pointer 0
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   push constant 0
   return
function TestSquare.incSize 1
   push argument 0
   pop pointer 0
   push this 1
   push this 2
   add
   push constant 254
   lt
   push this 0
   push this 2
   add
   push constant 510
   lt
   and
   if-goto STARTTestSquare140
   goto ELSETestSquare140
label STARTTestSquare140
   call TestSquare.erase 0
   pop temp 0
   push this 2
   push constant 2
   add
   pop this 2
   call TestSquare.draw 0
   pop temp 0
   goto ENDTestSquare140
label ELSETestSquare140
label ENDTestSquare140
   push constant 0
   return
function TestSquare.decSize 1
   push argument 0
   pop pointer 0
   push this 2
   push constant 2
   gt
   if-goto STARTTestSquare190
   goto ELSETestSquare190
label STARTTestSquare190
   call TestSquare.erase 0
   pop temp 0
   push this 2
   push constant 2
   sub
   pop this 2
   call TestSquare.draw 0
   pop temp 0
   goto ENDTestSquare190
label ELSETestSquare190
label ENDTestSquare190
   push constant 0
   return
function TestSquare.moveUp 1
   push argument 0
   pop pointer 0
   push this 1
   push constant 1
   gt
   if-goto STARTTestSquare224
   goto ELSETestSquare224
label STARTTestSquare224
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 2
   add
   push constant 1
   sub
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   push this 1
   push constant 2
   sub
   pop this 1
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push constant 1
   add
   call Screen.drawRectangle 4
   pop temp 0
   goto ENDTestSquare224
label ELSETestSquare224
label ENDTestSquare224
   push constant 0
   return
function TestSquare.moveDown 1
   push argument 0
   pop pointer 0
   push this 1
   push this 2
   add
   push constant 254
   lt
   if-goto STARTTestSquare306
   goto ELSETestSquare306
label STARTTestSquare306
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push constant 1
   add
   call Screen.drawRectangle 4
   pop temp 0
   push this 1
   push constant 2
   add
   pop this 1
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 2
   add
   push constant 1
   sub
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   goto ENDTestSquare306
label ELSETestSquare306
label ENDTestSquare306
   push constant 0
   return
function TestSquare.moveLeft 1
   push argument 0
   pop pointer 0
   push this 0
   push constant 1
   gt
   if-goto STARTTestSquare392
   goto ELSETestSquare392
label STARTTestSquare392
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 2
   add
   push constant 1
   sub
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   push this 0
   push constant 2
   sub
   pop this 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push constant 1
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   goto ENDTestSquare392
label ELSETestSquare392
label ENDTestSquare392
   push constant 0
   return
function TestSquare.moveRight 1
   push argument 0
   pop pointer 0
   push this 0
   push this 2
   add
   push constant 510
   lt
   if-goto STARTTestSquare474
   goto ELSETestSquare474
label STARTTestSquare474
   push constant 0
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 1
   push this 0
   push constant 1
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   push this 0
   push constant 2
   add
   pop this 0
   push constant 1
   neg
   call Screen.setColor 1
   pop temp 0
   push this 0
   push this 2
   add
   push constant 1
   sub
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   pop temp 0
   goto ENDTestSquare474
label ELSETestSquare474
label ENDTestSquare474
   push constant 0
   return
