function Square.new 3
   push constant 0
   call Memory.alloc 1
   pop pointer 0
   push argument 0
   pop this 0
   push argument 1
   pop this 1
   push argument 2
   pop this 2
   call draw 0
   push this 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.dispose 1
   push this 0
   call Memory.deAlloc 1
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.draw 1
   push constant 1
   neg
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.erase 1
   push constant 0
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.incSize 1
   push this 1
   push this 2
   add
   push constant 254
   lt
   push this 0
   push this 2
   add
   push constant 510
   lt
   and
   if-goto STARTSquare145
   goto ELSESquare145
label STARTSquare145
   call erase 0
   push this 2
   push constant 2
   add
   pop this 2
   call draw 0
   goto ENDSquare145
label ELSESquare145
label ENDSquare145
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.decSize 1
   push this 2
   push constant 2
   gt
   if-goto STARTSquare195
   goto ELSESquare195
label STARTSquare195
   call erase 0
   push this 2
   push constant 2
   sub
   pop this 2
   call draw 0
   goto ENDSquare195
label ELSESquare195
label ENDSquare195
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.moveUp 1
   push this 1
   push constant 1
   gt
   if-goto STARTSquare229
   goto ELSESquare229
label STARTSquare229
   push constant 0
   call Screen.setColor 1
   push this 0
   push this 1
   push this 2
   add
   push constant 1
   sub
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   push this 1
   push constant 2
   sub
   pop this 1
   push constant 1
   neg
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push constant 1
   add
   call Screen.drawRectangle 4
   goto ENDSquare229
label ELSESquare229
label ENDSquare229
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.moveDown 1
   push this 1
   push this 2
   add
   push constant 254
   lt
   if-goto STARTSquare311
   goto ELSESquare311
label STARTSquare311
   push constant 0
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push constant 1
   add
   call Screen.drawRectangle 4
   push this 1
   push constant 2
   add
   pop this 1
   push constant 1
   neg
   call Screen.setColor 1
   push this 0
   push this 1
   push this 2
   add
   push constant 1
   sub
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   goto ENDSquare311
label ELSESquare311
label ENDSquare311
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.moveLeft 1
   push this 0
   push constant 1
   gt
   if-goto STARTSquare397
   goto ELSESquare397
label STARTSquare397
   push constant 0
   call Screen.setColor 1
   push this 0
   push this 2
   add
   push constant 1
   sub
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   push this 0
   push constant 2
   sub
   pop this 0
   push constant 1
   neg
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push constant 1
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   goto ENDSquare397
label ELSESquare397
label ENDSquare397
   push constant 0
   return
   pop temp 0
   push pointer 0
   push constant 43770
function Square.moveRight 1
   push this 0
   push this 2
   add
   push constant 510
   lt
   if-goto STARTSquare479
   goto ELSESquare479
label STARTSquare479
   push constant 0
   call Screen.setColor 1
   push this 0
   push this 1
   push this 0
   push constant 1
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   push this 0
   push constant 2
   add
   pop this 0
   push constant 1
   neg
   call Screen.setColor 1
   push this 0
   push this 2
   add
   push constant 1
   sub
   push this 1
   push this 0
   push this 2
   add
   push this 1
   push this 2
   add
   call Screen.drawRectangle 4
   goto ENDSquare479
label ELSESquare479
label ENDSquare479
   push constant 0
   return
   pop temp 0
